.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
*.gem
spec/dummy/log/test.log
.yardoc/*

spec/dummy/log/*.log
spec/dummy/uploads/*
public/uploads/image/profile_picture/1/large_test.jpg
public/uploads/image/profile_picture/1/medium_test.jpg
public/uploads/image/profile_picture/1/test.jpg
public/uploads/image/profile_picture/1/thumb_test.jpg